.navbar-cont {
    background-color: #e91e63;
}

.nav-title {
    background-color: #424242;
    height: 35px;
}

.nav-title a {
    margin: auto;
}

div.footer-cont {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

#footer {
    background-color: #42424221;
}

/* p {
    margin: auto;
} */