<form #f="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-cont">
        <mat-card class="example-card">

            <mat-card-title>Posts Page</mat-card-title>
            <mat-card-subtitle>Create a post</mat-card-subtitle>

            <mat-card-content>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Insert post's author</mat-label>
                        <input matInput ngModel type="text" name="author" id="author"
                            placeholder="Insert post's author">
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                </div>
            </mat-card-content>

            <mat-divider inset></mat-divider>

            <mat-card-content>
                <div class="example-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Insert a post</mat-label>
                        <input matInput ngModel type="text" name="title" id="title" placeholder="Insert a post">
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                </div>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button type="submit">Submit</button>
            </mat-card-actions>

            <mat-card-footer>
                <div *ngIf="error"> {{error}} </div>
            </mat-card-footer>

        </mat-card>
    </div>
</form>

<p *ngFor="let post of posts">{{post.title}}</p>