a,
button {
    padding: 10px 20px;
}

#img-logo {
    width: 100%;
}

.logo-cont {
    background-color: white;
    width: 150px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 0;
}